# Mercado Libre API
ML_GRANT_TYPE=REPLACE_WITH_YOUR_GRANT_TYPE
ML_CLIENT_ID=REPLACE_WITH_YOUR_CLIENT_ID
ML_CLIENT_SECRET=REPLACE_WITH_YOUR_SECRET

# PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# MinIO / S3 compatible storage
MINIO_ENDPOINT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=

# Airflow
AIRFLOW_UID=
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__WEBSERVER__SECRET_KEY=
