# Mercado Libre API
ML_GRANT_TYPE=REPLACE_WITH_YOUR_GRANT_TYPE
ML_CLIENT_ID=REPLACE_WITH_YOUR_CLIENT_ID
ML_CLIENT_SECRET=REPLACE_WITH_YOUR_SECRET

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=snowflake_dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# MinIO / S3 compatible storage
MINIO_ENDPOINT=http://minio:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=meli-datalake

# Airflow
AIRFLOW_UID=50000
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__WEBSERVER__SECRET_KEY=change_me
